:root {
  --outline: #878a7f;
  --background: #E2E8CE;
}

.webpage-container {
  height: 100%;
  width: auto;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 40vh;
}

.page-heading {
  font-size: 40pt;
  align-self: center;
}

.page-content {
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.aboutme-selfie {
  max-height: 25rem;
  margin: 10px;
}

.p {
  font-size: 20pt;
  text-align: center;
  align-self: center;
}

.project-heading {
  font-size: 20pt;
  align-self: center;
}

.project-card {
  flex-direction: column;
  background-color: var(--background);
}

.btns {
  background-color: var(--background);
  font: 16pt black;
  border: solid var(--outline) 2px;
  padding: 10px;
}

.form {
  width: 50vw;
  height: 300px;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  height: 3em;
  border-radius: 5px;
  border: solid var(--outline) 1pt;
}

textarea {
  height: 10em;
  border-radius: 5px;
  border: solid var(--outline) 1pt;
}