/* color palette from https://coolors.co/29827f-e2e8ce-ffffff-e26d5c-0b0500 */
:root {
  --teal: #29827F;
  --beige: #E2E8CE;
  --white: #FFFFFF;
  --smokyBlack: #0B0500;

}
.webpage-container {
  background-color: #F234;
  height: 100vh;
  width: auto;
}