.header-container {
  /* background-color: #e24d5c; */
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name {
  font-size: 80pt;
  align-self: center;
}

.certificate {
  font-size: 40pt;
  align-self: center;
}

/* @media screen {
  .name font decreases
  .certification font decreases
} */ 