.footer-container {
  background-color: #E2E8CE;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
  justify-content: space-around;
}

.social-media-platforms {
  justify-content:space-between;
}

.footer-img {
  max-height: 25px;
  margin-left: 20px;
  margin-right: 20px;
} 